@page "/guests"
@using SAMT_Website.models
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<samt_websiteContext> _DbFactory

@{
    var context = _DbFactory.CreateDbContext();
}

<main class="page">
    @foreach (var samt in context.Events.Include(x => x.EventsGuests).ThenInclude(x => x.FkGuests).OrderByDescending(x => x.Date))
    {
        <!-- Start: Team Boxed -->
        <section class="team-boxed">
            <div class="container">
                <!-- Start: Intro -->
            <div class="intro">
                    <h2 class="text-uppercase text-center" style="font-weight: bold; color: #ff6f71;">Alle Gäste des @samt.Name</h2>
                    <p class="text-center">Wir freuen uns sehr euch unsere diesjährigen Gäste vorstellen zu dürfen!<br></p>
                </div><!-- End: Intro -->
                <!-- Start: People -->
            <div class="row people">
                    @if (samt.EventsGuests.Count != 0)
                    {
                        @foreach (var guest in samt.EventsGuests.Select(x => x.FkGuests))
                        {
                            <div class="col-md-6 col-lg-4 item">
                                <div class="box" style="background: var(--bs-gray); border-radius: 25px;">
                                    <img class="rounded-circle" src="@guest.ImageLink">
                                    <h3 class="name">@guest.Name</h3>
                                    <p class="title">@guest.Type</p>
                                    <div class="social" style="color: #ff6f71; font-size: 25px;">
                                        @if (guest.Instagram != null)
                                        {
                                            <a href="@guest.Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                                        }
                                        @if (guest.Twitter != null)
                                        {
                                            <a href="@guest.Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                                        }
                                        @if (guest.Linktree != null)
                                        {
                                            <a href="@guest.Linktree" target="_blank"><i class="fas fa-tree"></i></a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <span class="text-center">Coming soon...</span>
                    }
                </div><!-- End: People -->
        </div>
        </section>
        <!-- End: Team Boxed -->
    }
</main>

@code {

}
