@page "/"
@page "/index"
@using Microsoft.EntityFrameworkCore
@using SAMT_Website.Models

@inject IDbContextFactory<samt_websiteContext> _DbFactory

@{
    var context = _DbFactory.CreateDbContext();
    var samt = context.Events.OrderByDescending(x => x.Date).Include(x => x.FkLocation).First();
}

<main class="page landing-page">
    <section class="clean-block clean-hero" style="color: rgba(255,252,180,0);background: url(assets/img/tech/Download.jpg?h=15389cbbb15982b2377058440eb0a032) center / cover repeat;">
        <div class="text" style="background: rgba(0,0,0,0.79);border-radius: 15px;border-style: none;padding: 12px;">
            <!-- Start: 1 Row 2 Columns -->
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-fluid" src="@samt.ImageLink"></div>
                    <div class="col-md-6">
                        <h2 style="font-weight: bold;">@samt.Name</h2>
                        <h2>@countdown</h2>
                        <p style="font-size: 20px;">am&nbsp;<strong><br>@(samt.Date.ToString("dd.MM.yyyy ab hh:mm ")+"Uhr")<br></strong> in der <a href="@samt.FkLocation.MapsLink" target="_blank" style="color: #ff6f71;">@samt.FkLocation.Name<br></a></p>
                    </div>
                </div>
            </div><!-- End: 1 Row 2 Columns -->
        </div>
    </section>
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 style="color: rgb(255,111,113);">Was kannst du erwarten?</h2>
                <p style="max-width: 460px;">Wir wollen ein wunderschönes Erlebnis für alle zu schaffen. Wir wollen einen Ort schaffen um das Convention Feeling nach Siegen zu bringen und neue Freundschaften aus der Umgebung zu knüpfen.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box">
                    <i class="fas fa-paint-brush icon" style="color: #ff6f71;"></i>
                    <h4>Kleine Artist Alley</h4>
                    <p>Kleine aber feine "Artist Alley" mit 2, 3, vielleicht auch 5 wundervollen Künstlern :)</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-heartbeat icon" style="color: #ff6f71;"></i>
                    <h4>Cosplay</h4>
                    <p>Lerne viele lokale Cosplayer aus der Umgebung kennen!</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-sign-language icon" style="color: #ff6f71;"></i>
                    <h4>Bühnenprogramm</h4>
                    <p>Unterhaltung mit spannenden Vorträgen und lustigen Quiz</p>
                </div>
                <div class="col-md-5 feature-box">
                    <i class="fas fa-cut icon" style="color: #ff6f71;"></i>
                    <h4>Workshops</h4>
                    <p>Erlerne wie du einen Anime synchronisierst oder erschaffe neue Props um dein Cosplay noch besser zu machen</p>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block clean-info dark" style="background: var(--bs-gray-dark);">
        <div class="container">
            <div class="block-heading">
                <h2 style="color: #ff6f71;">Eintritt</h2>
                <p class="text-white">Die Planung hat begonnen, weitere Informationen folgen in den nächsten Monaten!</p>
                @*<p class="text-white"><br><strong>Wir sind nach der langen Pause zurück!</strong><br>
                    <br><strong>Bitte beachtet 2G+ vor Ort!</strong> Alle über 16 Jahren benötigen einen Test nicht älter als 24 Stunden!<br>
                    <br>Herzlich willkommen beim WinterSAMT 2021,
                    <br>wir begrüßen euch ganz herzlich zu einem neuen lang ersehnten SAMT 
                    <strong>am 11.12.2021 ab 11:30 Uhr</strong> in der Bluebox-Siegen (Sandstraße 54, 57072 Siegen).<br>
                    <br><strong>Was erwartet euch?</strong><br>
                    <br><strong>Workshops </strong><br>* Synchro Workshop: 13 - 15 Uhr &amp; 16 - 18 Uhr<br>* K-Pop Workshop: 13:15 - 14:00 Uhr &amp; 14:15 - 15:00 Uhr<br>* Origami: 14 - 18 Uhr<br>* Werwolf: Ab 18 Uhr - 20 Uhr<br><br><strong>Programm </strong><br>* Animequiz: 14 - 15 Uhr<br>* K-Pop Randomdance: 15:15 Uhr - 16:15 Uhr<br>* Anime-Opening-Quiz: 17 Uhr - 18 Uhr<br><br><strong>Essen </strong><br>* Stockbrot: 16/17 Uhr Feuer an -&gt; Bis 20 Uhr / 20:30 Uhr<br>* Waffeln<br>* Kinderpunsch<br>* Brezeln<br>* Pizza<br><br><strong>Gäste </strong><br>* German Itasha e.V. mit 7 Autos!<br>* Manga Mafia<br>* Xenothy<br>* Kittensareashop<br>* Neos Atelier<br>* Koksii_art<br>* Paper Adventure<br><br></p>*@
            </div>
        </div>
    </section>
</main>

@code
{ string countdown = string.Empty;

    protected override Task OnInitializedAsync()
    {
        Countdown();
        return base.OnInitializedAsync();
    }

    async Task Countdown()
    {
        var samt = (await _DbFactory.CreateDbContextAsync()).Events.OrderByDescending(x => x.Date).First().Date;
        while (samt > DateTime.Now)
        {
            await Task.Delay(10);
            countdown = samt.Subtract(DateTime.Now).ToString("dd':'hh':'mm':'ss") + " Tage";
            StateHasChanged();
        }
        countdown = "Dankeschön!";
    }
}
