@page "/whenwhere"
@page "/when"
@page "/where"
@page "/wann"
@page "/wo"
@page "/parken"
@page "/anfahrt"

@using Database.Models
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<samt_websiteContext> DbFactory

@{
    var context = DbFactory.CreateDbContext();
    var samt = context.Events.OrderBy(x => x.Date).Include(x => x.FkLocation).ToList().SkipWhile(x => x.Date <= DateTime.Now).First();
}

<PageTitle>Wann & Wo</PageTitle>

<header class="bg-dark">
    <!-- Start: Hero Clean Reverse -->
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-end mb-4">
                <div style="max-width: 450px;min-width: 422px;">
                    <p class="fw-bold text-success mb-2">Wann?</p>
                    <h2 class="fw-bold">@samt.Date.ToString("dd.MM.yyyy")</h2>
                    <p class="my-3"><strong>Öffnungszeiten</strong><br>11:30 Uhr - 21:00 Uhr</p>
                    <p class="fw-bold text-success mb-2">Wo?</p>
                    <h2 class="fw-bold">@samt.FkLocation.Name</h2>
                    <p class="my-3">@samt.FkLocation.Street @samt.FkLocation.Number, @samt.FkLocation.Plz @samt.FkLocation.City</p>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="p-5 mx-lg-5" style="background: url(&quot;assets/img/blob.svg&quot;) center / contain no-repeat;"><iframe src="@samt.FkLocation.MapsLink" class="rounded img-fluid shadow w-100 fit-cover" style="border:0;min-height: 300px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>
        </div>
    </div><!-- End: Hero Clean Reverse -->
</header><!-- Start: Anfahrt -->
<section>
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Anfahrt</p>
                <h2 class="fw-bold"><strong>Wie du am besten zu uns kommst</strong></h2>
                <p class="text-muted w-lg-50">Ob mit dem Zug, Auto oder Fahrrad, so findest du zu uns:</p>
            </div>
        </div>
        <div class="mx-auto" style="max-width: 900px;">
            <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
                <div class="col mb-4">
                    <div class="card bg-primary-light">
                        <div class="card-body text-center px-4 py-5 px-md-5"><i class="material-icons" style="font-size: 50px;width: auto;height: auto;">train</i>
                            <p class="fw-bold text-primary card-text mb-2">Mit dem Zug</p>
                            <h5 class="fw-bold card-title mb-3">Umweltfreundlich und keine Parkplatzsuche mit dem Zug</h5>
                            <p class="text-muted card-text mb-4">Fahr mit dem Zug bis <strong>Siegen HBF</strong>.<br>Nutze hierfür am besten Apps wie z.B. den&nbsp;<a href="https://www.bahn.de/service/mobile/db-navigator" target="_blank">DB Navigator</a>.<br><br><strong>Als kurze Übersicht aus Richtung:</strong></p>
                            <ul class="text-start">
                                <li>Köln: RE 9</li>
                                <li>Hagen: RE16/RB91</li>
                                <li>Dortmund: RE34/IC</li>
                                <li>Frankfurt: RE 99/IC</li>
                                <li>Erndtebrück: Bus R27/RB 93/ RB 94</li>
                            </ul>
                            <p class="text-muted card-text mb-4">Vom Bahnhof sind es noch ca. 8 Minuten (650 Meter) zu Fuß bis zur <strong>BlueBox Siegen</strong>.</p><a class="btn btn-primary btn-sm" role="button" href="assets/img/Wegbeschreibung_Bahnhof_BlueBox.jpeg" target="_blank">Karte Fußweg</a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card bg-secondary-light">
                        <div class="card-body text-center px-4 py-5 px-md-5" style="margin-top: -15px;">
                            <i class="icon ion-android-car" style="font-size: 50px;"></i>
                            <p class="fw-bold text-secondary card-text mb-2" style="margin-top: -8px;">Mit dem Auto</p>
                            <h5 class="fw-bold card-title mb-3">Schnell und bequem, jedoch leider meist mit Parkkosten</h5>
                            <p class="text-muted card-text mb-4">In Siegen gibt es viele Parkmöglichkeiten, kosten meist jedoch leider etwas Geld.<br><br><strong>Parken direkt an der BlueBox-Siegen ist aufgrund sehr weniger Parkplätze dem Team, den Austellern, Künstlern, Händlern und Besuchern mit Handicap vorbehalten!</strong><br><br>Wir haben für euch einen Parkplatz-Guide zusammengestellt mit einer <strong>kostenlosen,</strong> und zwei unterschiedlich kostenpflichtigen Parkmöglichkeit, sowie den Fußweg zum Veranstaltungsort und sonstige Hinweisen.</p><a class="btn btn-secondary btn-sm" role="button" target="_blank" href="https://drive.google.com/file/d/1tJi5paLIbfBSOnRY3GPtHv0cgIuTklUh/view?usp=sharing">Parkplatz-Guide</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End: Anfahrt -->
<!-- Start: Barrierefreiheit -->
<section>
    <div class="container py-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <p class="fw-bold text-success mb-2">Barrierefreiheit</p>
                <div class="alert alert-danger" role="alert"><span><strong>Der Aufzug ist leider außer Betrieb!</strong><br>(Die Location arbeitet daran)</span></div>
                <h2 class="fw-bold">Wir sind Barrierefrei!</h2>
                <p class="text-muted w-lg-50">Du hast ein Handicap und bist dir nicht sicher, ob du ohne Probleme an unserer Convention teilnehmen kannst? Keine Sorge!<br>Unser Gelände hat zwar mehrere Etagen, ist aber über einen <strong>Aufzug</strong> an der Seite des Gebäudes barrierefrei zu erreichen.<br><br>Da der Aufzug jedoch einen <strong>Schlüssel</strong> benötigt, wende dich bitte bei deiner Ankunft an jemanden am Eingang, wir geben dir den Schlüssel und zeigen dir alle Details zur sicheren Benutzung, falls du dich nicht schon auskennst.<br><br><strong>Wo kann ich parken?</strong><br>Besucher mit Handicap können selbstverständlich direkt vor dem Gebäude parken.</p>
            </div>
        </div>
    </div>
</section><!-- End: Barrierefreiheit -->